body {
  background-color: rgba(85, 85, 85, 0.671);
  height: 100vh;
  width: auto;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#game {
  display: flex;
  flex-direction: column;
}

.player_container {
  background-color: rgba(202, 202, 202, 0.671);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 3px solid black;
  opacity: 45%;
}

.highlight {
  box-sizing: content-box;
  background-color: rgba(202, 202, 202, 0.671);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 5px dashed black;
}

#players {
  background-color: rgb(124, 124, 124);
  padding: 15px 10px;
  margin: 1rem 0 -7rem 0;
  display: flex;
  justify-content: space-evenly;
  font-weight: bolder;
  font-size: 36px;
  border-radius: 15px;
}

/* .player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bolder;
} */

#board {
  height: 70%;
  width: 100%;
  margin: 8rem 10px 0 0;
  max-width: 40rem;
  min-width: 30rem;
  display: flex;
  flex-wrap: wrap;
}

.square {
  box-sizing: border-box;
  background-color: rgba(202, 202, 202, 0.671);
  height: 33.3%;
  width: 33.33%;
  font-weight: bolder;
  font-size: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
}

#hover {
  color: rgba(128, 128, 128, 0.849);
}

/* .winner {
  border: 5px dashed black;
  border-radius: 70%;
  display: flex;
  justify-content: center;
} */

.winner {
  animation: opacity 1.5s ease-in-out infinite;
  opacity: 1;
}

@keyframes opacity {
0% {
  opacity: 1;
}

50% {
  opacity: 0
}

100% {
  opacity: 1;
}
}
